<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/style.css">
	<title>List of comments</title>
</head>
<body>
	<div class="container">
		<img src="../static/logo.png" alt="Lexus" class="logo">
		<h1>List of Comments</h1>

		{% for c in comments %}
			<p style="border-bottom:1px solid gray;">Dealer: <b>{{c.dealer}}</b> - (Rating: <b>{{c.rating}}</b>) : {{c.comments}}</p>
		{% endfor %}
	</div>
	
</body>
</html>